/* Error: There is no module with the namespace "color".
 *    ,
 * 41 |     color: color.adjust($color-dark, $lightness: 20%);
 *    |            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   sass\style.scss 41:12  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "color".\a    \2577 \a 41 \2502      color: color.adjust($color-dark, $lightness: 20%);\d\a    \2502             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   sass\\style.scss 41:12  root stylesheet';
}
